/* styles.css */
html, body {
   height: 100%;
   margin: 0;
}
body {
   
   display: flex;
   flex-direction: column;
  background-color: rebeccapurple;
  text-align: center;
  min-height: 100vh;
  
}
 h2 {
    color: white;
    font-weight: 700;
    font-size: 25px;
 }

 button {
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding:5px 5px 5px 5px;
    background-color: rgba(0,0,0, 0.5);
    color: white;
 }

dialog {
   border: none;
}


 dialog form input {
   padding: 15px;
 }

 dialog form textarea {
   padding: 15px;
 }

 dialog button {
    margin-bottom: 10px;
    color: white;
    background-color: black;
    font-weight: 400px;
 }

 .project {
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
 }

 .projectSelect {
    margin-left: 10px;
 }

 .task-list {
    list-style-type: none;
    padding: 0;
 }

.task {
    margin: 5px 0;
    padding: 5px;
    background-color: #f9f9f9;
}

.priority-high {
    border-left: 4px solid red;
}

.priority-medium {
    border-left: 4px solid orange;
}
.priority-low {
    border-left: 4px solid green;
}

.complete-btn {
    float: right;
    margin-left: 10px;
}

#add {
   padding: 5px;
   border-radius: 50%;
   font-size: 2rem;
   font-weight: bold;
   position: sticky;
   bottom: 10px;
   right: 10px;
   cursor: pointer;
   border: none;
   background-color: crimson;
   color: white;
}

.closediv {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   width: 100%;
   padding-right: 10px;
   font-weight: 800;
   
}

 .closediv button {
    color: white;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
    
 }

 #logo {
   display: inline-block;
 }
 svg {
   display: none;
 }

 .header {
   background-color: purple;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 5rem;
   
   
 }
 .project-header {
   background-color: rgba(128, 0, 128, 0.9);
   color: white;
   
   
 }
main {
   background-color: #fdfdfd;
   padding: 10px;
   flex: 1;
}
 footer {
   padding: 20px;
   background-color: purple;
   color: white;
   text-align: center;
   width: 100%;
   margin-top: 10px;
 }